DATABASE_NAME=admin
ALERT_DEDUPE_SECONDS=60

# Option A (recommended): file path use pannunga
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_SERVICE_ACCOUNT_FILE=../software-developement-firebase-adminsdk-fbsvc-0f41f165eb.json
FIREBASE_PROJECT_ID=software-developement